~$mputational social science.docx
Computational Social Science project_1.pdf
Computational Social Science project.docx
Computational Social Science project.pdf
Computational social science.docx
ComputationalSocialScienceProject_SENT.pdf
ComputationalSocialScienceProject.docx
ComputationalSocialScienceProject_old.pdf
project-wikipedia_base.ipynb
project-wikipedia(4).ipynb
project-wikipedia.py
person-data.tsv
README_OLD.md
README_OLD2.md
Images/Screenshot2023-05-26alle16.51.47.png
WomenThroughTheGlassCeiling.pdf